@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container6 
{
	width: 110%;
	padding:20px;
}


.container6 h2
{
	width: 100%;
	color: #45f3ff;
	font-size: 36px;
	text-align: center;
	margin-bottom: 10px;
}


.container6 .row100
{
	position:relative;
	width:100%;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	
}

.container6 .row100 .col
{
	position:relative;
	width:100%;
	padding: 0 10px;
	margin:30px 0 10px;
	transition: 0.5s;
	
}
	
	
.container6 .row100 .inputBox
{
	position:relative;
	width:100%;
	height: 40px;
	color:#45f3ff;
}
	
	
.container6 .row100 .inputBox input,
.container6 .row100 .inputBox.textarea textarea
{	
 	position:absolute;
	width:100%;
	height: 100%;
	background:transparent;
	box-shadow: none;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 0 10px;
	z-index: 1;
	color:#000;
	
}

.container6 .row100 .inputBox .text
{
	
	position:absolute;
	top: 0;
	left: 0;
	line-height: 40px;
	font-size: 18px;
	padding: 0 10px;
	display:block;
	transition: 0.5s;
	pointer-events: none;
}

.container6 .row100 .inputBox input:focus + .text,
.container6 .row100 .inputBox input:valid + .text
{
	top:-35px;
	left:-10px;
}

.container6 .row100 .inputBox .line
{
	position:absolute;
	bottom:0;
	display:block;
	width:100%;
	height: 2px;
	background:#45f3ff;
	pointer-events: none;
}

.container6 .row100 .inputBox input:focus ~ .line,
.container6 .row100 .inputBox input:valid ~ .line
{
	height: 100%;
}

.container6 .row100 .inputBox.textarea
{
	position: relative;
	width:100%;
	height: 100px;
	padding:10px 0;
	
}



.container6 .row100 .inputBox.textarea textarea
{
	height:100%;
	resize:none;
}

.container6 .row100 .inputBox textarea:focus + .text,
.container6 .row100 .inputBox textarea:valid + .text
{
	top:-35px;
	left:-10px;
}


.container6 .row100 .inputBox textarea:focus ~ .line,
.container6 .row100 .inputBox textarea:valid ~ .line
{
	height: 100%;
}

input[type="submit"]

{
	border:none;
	padding:7px 35px;
	cursor: pointer;
	outline: none;
	background:#45f3ff;
	color:#000;
	font-size: 18px;
	border-radius: 20px;
	
}


.footgal
{
	display: flex;
	justify-content:center;
	align-items: center;
	min-height: 10vh;
	background:transparent;
	background-size:cover;
}


.testimonials
{
	position: relative;
	max-width: 100%;
	-webkit-box-reflect:below 1px linear-gradient(transparent 70%,#0009);
}

.swiper-slide 
{
      background-position: center;
      background-size: cover;
      width: 400px;
	  margin: 0 20px;
      min-height: 280px;
	  background:#000;

    }
	
	
	
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right
{
    background-image:none;	
	
}



.testimonials .card5
{
	position:relative;
	width: 100%;
	margin: 0 20px;
	background: #333;
	padding: 60px 40px;
	text-align: center;
	overflow: hidden;
}

.testimonials .card5 .layer
{
	position: absolute;
	top: calc(100%- 2px);
	left: 0;
	width: 100%;
	height: 60%;
	background: linear-gradient(#03a9f4,#e91ee3);
	z-index: 1;
	transition: 0.5s;
	bottom: 0;
}

.testimonials .card5:hover .layer
{
	top: 0;	
}

.testimonials .card5 .content5
{
	position: relative;
	z-index: 2;
}

.testimonials .card5 .content5 p
{
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 20px;
	color:#FFF;
	
}

.testimonials .card5 .content5 .imgBx5
{
	
	width:256px;
	height:256px;
	margin: 0 auto;
	border-radius: 50%;
	overflow:hidden;
	border: 4px solid #FFF;
	box-shadow:0 10px rgba(0,0,0,0.2);
	background-size:contain;
}

.testimonials .card5 .content5 h2
{
		font-size:30px;
		color:#FFF;	
	
}


.testimonials .card5 .content5 h2 span
{
	
	color:#03a9f4;
	font-size: 20px;
	transition: 0.5s;
}


.testimonials .card5:hover .content5 h2 span
{
	color:#FFF;
	
}

.copyrightText
{
 	margin-top: 80px;
	color:#CF0;
	font-size: 18px;
	font-weight:300;
	text-align:center;
  	display: flex;
  	justify-content:center;
  	align-items: center;
  	position: absolute;
  	bottom: 25px;
}

.copyrightText a
{
	color:#FFF;
	text-decoration: none;	
}

.sci
{
  position: absolute;
  bottom: 50px;
  display: flex;
 
}

.sci li
{
	list-style:none;	
	display: flex;
  justify-content:center;
  align-items: center;	
}

.sci li a
{
	display: inline-block;
	margin-right: 20px;
	filter:invert(1);
	position:relative;
	transform:scale(0.5);
}

div.errmsg{
    
	z-index:1;
	position:relative;
	display:inline-block;
	padding: 8px 20px;
	background: #000;
	margin-top: 15px;
	text-decoration: none;
	font-weight: 400;
	border-radius: 20px;
	color: #FFF;
	transition: 0.5s;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}


