@charset "utf-8";
/* CSS Document */


body .container
{
  position:relative;
	width: 100%;
	min-height:100vh;
	padding:0 100px;
	background:url(../image/JLA10.jpg);
	background-position:center;
	background-size:cover;
	display:flex;
	justify-content: center;
	align-items:center;	
}

body .container:before
{
	content: '';
	position:absolute;
	bottom: 0;
	top: 0px;
	left: 0;
	width: 100%;
	height: 50px;
	z-index:1;
	background: linear-gradient(to bottom,#111,transparent);	
}

.container
{
	position:relative;
	 display: flex;
   justify-content: center;
   align-items: center; 
   flex-wrap:wrap;
   width: 1200px;
   transform-style:preserve-3d;
  
   
}

.container .box
{
	position:relative;
	width: 300px;
	height: 400px;
	margin: 40px;
	background: #232323;
	border-radius: 20px;
	transform-style:preserve-3d;
}

.container .box:before
{
	
	 content:'DVD';
	 position:absolute;
	 top: 20px;
	 left: 20px;
	 font-size: 6em;
	 font-weight:900;
	 color:#FFF;
	 font-style:italic;
	 opacity: 0;	
}

.container .box:after
{
	
 content:'Series';
 position:absolute;
 bottom: 20px;
 left: 20px;
 font-size: 5em;
 font-weight: 900;
 color:#FFF;
 font-style:italic;
 opacity: 0;	
}

.container .box:hover:before,
.container .box:hover:after
{
opacity: 0.04;	
}

.container .box .name
{
	position: absolute;
	top: 0px;
	left: 0px;
	text-align:center;
	color:#fff;
	width: 100%;
	transform-style: preserve-3d;
	transform:translate(0,0,75px);
	transition:0.5s;
	opacity: 0;
	z-index: 10;
	
}

.container .box:hover .name
{
	top:40px;
	opacity: 1;
}

.container .box .buy
{
	position: absolute;
	bottom: 0px;
	left: 50%;
	text-align:center;
	color:#fff;
	background:#333;
	transform-style: preserve-3d;
	transform:translate(-50%,0,75px);
	padding: 10px 25px;
	border-radius: 30px;
	text-decoration:none;
	transition:0.5s;
	opacity: 0;
	z-index: 10;
}

.container .box:hover .buy
{
	bottom:30px;
	opacity: 1;
}


.container .box .price
{
	position: absolute;
	bottom: 0px;
	right: 70%;
	text-align:center;
	color:#fff;
	background:#333;
	transform-style: preserve-3d;
	transform:translate(-50%,0,75px);
	padding: 10px 25px;
	border-radius: 30px;
	text-decoration:none;
	transition:0.5s;
	opacity: 0;
	z-index: 10;
}

.container .box:hover .price
{
	bottom:30px;
	opacity: 1;
}

.container .box .circle
{
	position: absolute;
	top: 90px;
	left: 60px;
	color:#fff;
	width: 180px;
	height: 180px;
	background:#fff;
	transform-style: preserve-3d;
	transform:translate(-50%,-50%,50px);
	border-radius: 50%;
	transition:0.5s;
	z-index: 10;
	opacity: 1;
}

.container .box .product
{
	position: absolute;
	top: 170px;
	left: 150px;
	max-width: 300px;
	width: 180px;
	height: 180px;
	transform-style: preserve-3d;
	transform:translate3d(-50%,-50%,0px) rotate(-15deg);
	transition:0.5s;
	z-index: 11;
}

.container .box:hover .product
{
	transform:translate3d(-50%,-50%,100px) rotate(-15deg);
}
.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy
{
	background:#CF0;	
}

.container .box:nth-child(2) .circle,
.container .box:nth-child(2) .buy
{
	background:#F00;	
}

.container .box:nth-child(3) .circle,
.container .box:nth-child(3) .buy
{
	background:#036;	
}

.container .box:nth-child(4) .circle,
.container .box:nth-child(4) .buy
{
	background:#3FC	;
}